@import '../../styles/variables.scss';

.panel {
    @include app-panel;

    .content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $b-app-1) {
        @include grid-full-width;
    }
}
