@import '../../styles/variables.scss';

.header {
    @include app-container;

    padding-bottom: 0 !important;

    .content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
