@import '../../styles/variables.scss';

.header {
    background-color: $c-gray-n-9;
    border-bottom: 1px solid $c-gray-n-7;
    padding: 1rem 0;
    width: 100%;

    .container {
        @include container-large;

        .content {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}
