@import '../../styles/variables.scss';

.wrapper {
    border-bottom: 1px solid $c-gray-n-5;
    margin-bottom: $s-panel-padding;
    padding-bottom: $s-panel-padding;

    .heading {
        font-size: 1.75em;
        font-weight: 500;
        line-height: 1;
        margin: 0 0 $s-xsmall 0;
    }

    .subheading {
        color: $c-gray-b-5;
    }
}
