@import '../../../styles/variables.scss';

.track {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2px;

    &:last-of-type {
        margin-bottom: 0;
    }

    .content {
        // backdrop-filter: blur($s-small);
        background: linear-gradient(
            to left,
            rgba($c-gray-n-9, 1),
            rgba($c-gray-n-9, 0.9)
        );
        display: flex;
        gap: $s-medium;
        padding: $s-medium;
        position: relative;

        &::after {
            background: linear-gradient(
                to left,
                rgba($c-gray-n-9, 1),
                rgba($c-gray-n-9, 0)
            );
            background-position: right;
            content: '';
            cursor: none;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: $s-medium;
            width: 80px;
            top: 0;
            transition: $tr-ease-slow;
            transition-property: opacity;
        }

        &.overflowed {
            &::after {
                opacity: 1;
            }
        }

        .cover {
            position: relative;
            flex-shrink: 0;
            height: 36px;
            z-index: 2;

            span {
                border-radius: 2px;
            }
        }

        .details {
            padding: $s-xsmall 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            white-space: nowrap;

            .nowrap {
                position: absolute;

                .name {
                    color: #ffffff;
                    display: block;
                    height: $t-line-height;
                    margin-bottom: $s-xsmall;
                    text-decoration: none;
                    transition: $tr-ease;
                    transition-property: color;

                    &:hover {
                        color: $c-primary-3;
                    }
                }

                .subdetails {
                    color: $c-gray-b-4;
                    display: flex;
                    flex-wrap: nowrap;
                    font-size: 0.75em;
                    gap: $s-small;

                    .subdetail {
                        color: $c-gray-b-4;
                        height: $t-line-height;
                        text-decoration: none;
                        transition: $tr-ease;
                        transition-property: color;

                        &:hover {
                            color: $c-primary-3;
                        }
                    }
                }
            }
        }
    }
}
