@import '../../../styles/variables.scss';

.track {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: $border-radius-button;
    margin-bottom: 4px;

    &:last-of-type {
        margin-bottom: 0;
    }

    .content {
        background-color: rgba($color-gray-9, 0.95);
        display: flex;
        gap: $space-medium;
        padding: $space-medium;
        position: relative;

        &::after {
            background: linear-gradient(
                to left,
                rgba($color-gray-9, 1),
                rgba($color-gray-9, 0)
            );
            background-position: right;
            content: '';
            cursor: none;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: $space-medium;
            width: 80px;
            top: 0;
            transition: $transition-ease-slow;
            transition-property: opacity;
        }

        &.overflowed {
            &::after {
                opacity: 1;
            }
        }

        .cover {
            position: relative;
            flex-shrink: 0;
            height: 36px;
            z-index: 2;

            span {
                border-radius: $album-border-radius;
            }
        }

        .details {
            padding: $space-xsmall 0;
            overflow: hidden;
            position: relative;
            width: 100%;
            white-space: nowrap;

            .nowrap {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                .name {
                    color: #ffffff;
                    display: block;
                    height: $text-line-height;
                    margin-bottom: $space-xsmall;
                    text-decoration: none;
                    transition: $transition-ease;
                    transition-property: color;

                    &:hover {
                        color: $color-primary-3;
                    }
                }

                .subdetails {
                    color: $color-slate-4;
                    display: flex;
                    flex-wrap: nowrap;
                    font-size: 0.75em;
                    gap: $space-small;

                    .subdetail {
                        color: $color-slate-4;
                        height: $text-line-height;
                        text-decoration: none;
                        transition: $transition-ease;
                        transition-property: color;

                        &:hover {
                            color: $color-primary-3;
                        }
                    }
                }
            }
        }
    }
}
