@import '../../styles/variables.scss';

.track {
    align-items: center;
    border-bottom: 1px solid $c-gray-n-8;
    display: flex;
    gap: $s-medium;
    padding: $s-medium 0;

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .cover {
        flex-shrink: 0;
        height: 50px;

        span {
            border-radius: 2px;
        }
    }

    .details {
        padding: $s-small 0;

        .name {
            margin-bottom: $s-xsmall;
        }

        .subdetails {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.75em;
            gap: 0.5em;

            span {
                color: $c-gray-n-4;
            }
        }
    }
}
