@import '../../styles/variables.scss';

.track {
    align-items: center;
    border-bottom: 1px solid $c-gray-n-8;
    display: flex;
    gap: $s-medium;
    padding: $s-medium 0;

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .cover {
        flex-shrink: 0;
        height: 36px;

        span {
            border-radius: 2px;
        }
    }

    .details {
        flex-grow: 1;
        max-width: 100%;
        padding: $s-xsmall 0;

        .name {
            color: #ffffff;
            display: block;
            height: 1.15em;
            margin-bottom: $s-xsmall;
            max-width: 100%;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            transition: $t-ease;
            transition-property: color;
            white-space: nowrap;

            &:hover {
                color: $c-primary-3;
            }

            &::after {
                background: linear-gradient(
                    to right,
                    rgba($c-gray-n-9, 0),
                    rgba($c-gray-n-9, 100)
                );
                content: '';
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 80px;
            }

            .content {
                position: absolute;
            }
        }

        .subdetails {
            color: $c-gray-b-4;
            display: flex;
            flex-wrap: nowrap;
            font-size: 0.75em;
            gap: $s-small;

            .artist {
                color: $c-gray-b-4;
                display: block;
                text-decoration: none;
                transition: $t-ease;
                transition-property: color;
            }

            .album {
                color: $c-gray-b-4;
                display: block;
                flex-grow: 1;
                height: 1.15em;
                overflow: hidden;
                position: relative;
                text-decoration: none;
                transition: $t-ease;
                transition-property: color;
                white-space: nowrap;

                &:hover {
                    color: $c-primary-3;
                }

                &::after {
                    background: linear-gradient(
                        to right,
                        rgba($c-gray-n-9, 0),
                        rgba($c-gray-n-9, 100)
                    );
                    content: '';
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 80px;
                }

                .content {
                    position: absolute;
                }
            }
        }
    }
}
