@import '../../../../styles/variables.scss';

.panel {
    background-color: #131314;
    border: 1px solid rgba(255, 255, 255, 0.025);
    border-radius: $border-radius-panel;
    overflow: hidden;
    padding: $panel-padding-small;

    @media (min-width: $breakpoint-1) {
        padding: $panel-padding-large;
    }
}
