@import '../../../../styles/variables.scss';

.panel {
    background-color: $color-gray-8;
    border: 1px solid $color-gray-7;
    border-radius: $border-radius-panel;
    overflow: hidden;
    padding: $panel-padding-small;

    @media (min-width: $breakpoint-1) {
        padding: $panel-padding-large;
    }
}
