@import '../../styles/variables.scss';

@mixin button-base {
    align-items: center;
    border: 1px solid transparent;
    border-radius: $bo-radius-button;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: $tr-ease;
    transition-property: background-color, border-color, box-shadow, color;
}

.button {
    @include button-base;

    font-weight: 500;

    svg {
        height: 1.5em;
        width: 1.5em;
    }

    &.primary {
        background-color: $c-primary-3;
        color: $c-primary-5;

        &:hover {
            background-color: $c-primary-2;
            box-shadow: 0px 4px 12px -4px rgba($c-primary-3, 0.25);
        }
    }

    &.secondary {
        background-color: $c-gray-b-6;
        color: $c-gray-b-2;

        &:hover {
            background-color: $c-gray-b-5;
            box-shadow: 0px 4px 12px -4px rgba($c-gray-b-5, 0.25);
        }
    }

    &.tertiary {
        background-color: transparent;
        border: 1px solid $c-gray-n-6;
        color: $c-gray-n-4;

        &:hover {
            border-color: $c-gray-b-4;
            color: $c-gray-n-2;
        }
    }
}
