@import '../../../styles/variables.scss';

.wrapper {
    background-color: $color-gray-8;
    border: 1px solid $color-gray-7;
    border-radius: $border-radius-panel $border-radius-panel 0 0;
    padding: $space-panel-padding-small;

    @media (min-width: $breakpoint-1) {
        padding: $space-panel-padding-large;
    }

    .heading {
        @include panel-heading;
    }

    .title {
        @include panel-title;

        &.large {
            @include panel-title-large;
        }
    }
}
