@import '../../../styles/variables.scss';

.wrapper {
    padding: $panel-padding-small;
    padding-bottom: 0;

    @media (min-width: $breakpoint-1) {
        padding: $panel-padding-large;
        padding-bottom: 0;
    }

    @media (min-width: $breakpoint-2) {
        padding: $panel-padding-xlarge;
        padding-bottom: 0;
    }

    &.padded {
        padding-bottom: $panel-padding-small;

        @media (min-width: $breakpoint-1) {
            padding-bottom: $panel-padding-large;
        }

        @media (min-width: $breakpoint-2) {
            padding-bottom: $panel-padding-xlarge;
        }
    }

    .subheading {
        @include panel-subheading;
    }

    .title {
        @include panel-title;

        &.large {
            @include panel-title-large;
        }
    }
}
