@import '../../../styles/variables.scss';

.skeleton {
    @include skeleton;

    border-radius: $color-skeleton-border-radius;
    display: block;
    height: $text-line-height;
    user-select: none;
    width: 10ch;

    &.loading {
        @include skeleton-shimmer;
    }

    &.text {
        display: inline-block;
        width: auto;
    }
}
