@import '../../../styles/variables.scss';

.track {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;

    &:last-of-type {
        margin-bottom: 0;
    }

    .content {
        display: flex;
        gap: $space-medium;
        position: relative;

        &.loaded {
            background: $color-overlay-gradient;
        }

        .cover {
            position: relative;
            flex-shrink: 0;
            height: 80px;
            z-index: 2;

            span {
                border-radius: $album-border-radius;
            }
        }

        .details {
            font-size: 2em;
            padding: $space-xsmall 0;

            .name {
                color: #ffffff;
                display: block;
                height: $text-line-height;
                margin-bottom: $space-xsmall;
                text-decoration: none;
                transition: $transition-ease;
                transition-property: color;

                &:hover {
                    color: $color-primary-3;
                }
            }

            .subdetails {
                color: $color-gray-4;
                display: flex;
                flex-wrap: nowrap;
                font-size: 0.75em;
                gap: $space-small;

                .subdetail {
                    color: $color-gray-4;
                    height: $text-line-height;
                    text-decoration: none;
                    transition: $transition-ease;
                    transition-property: color;

                    &:hover {
                        color: $color-primary-3;
                    }
                }
            }
        }
    }
}
