@import '../../styles/variables.scss';

.container {
    @include grid-full-width;

    padding: $space-xxlarge 0;
    text-align: center;

    .icon {
        @include icon-medium;

        margin: 0 auto;
        stroke: $color-warning;
    }

    .heading {
        font-size: 1.5em;
        font-weight: 500;
        margin: $space-medium 0;
    }

    .body {
        margin-bottom: $space-large;
    }

    .buttons {
        display: flex;
        gap: $space-medium;
        justify-content: center;
    }
}
