@import '../../styles/variables.scss';

.wrapper {
    .dashboard {
        @include panel-heading;
    }

    .user {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: $s-medium;
        margin-top: $s-medium;

        .image {
            height: 80px;

            span {
                border-radius: 50%;
            }
        }

        .details {
            flex-shrink: 0;

            .name {
                @include panel-title;
                @include panel-title-large;

                display: block;
            }

            .stats {
                display: flex;
                gap: 1em;
                margin-top: $s-small;

                .stat {
                    border-right: 1px solid $c-gray-n-5;
                    padding-right: 1em;

                    &:last-of-type {
                        border-right: none;
                        padding-right: 0;
                    }
                }
            }
        }
    }

    &.skeleton {
        .user {
            .details {
                .stats {
                    .stat {
                        border-right: none;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
