/* BREAKPOINTS */

$b-app-1: 600px;
$b-app-2: 900px;

/* COLORS */

$c-primary-1: #031809;
$c-primary-2: #108e37;
$c-primary-3: #1aec5c;
$c-primary-4: #76f49d;
$c-primary-5: #e8fdef;

$c-secondary-1: #070019;
$c-secondary-2: #2c0099;
$c-secondary-3: #4a00ff;
$c-secondary-4: #9266ff;
$c-secondary-5: #ede6ff;

$c-gray-n-1: #f5f5f5;
$c-gray-n-2: #e5e5e5;
$c-gray-n-3: #d4d4d4;
$c-gray-n-4: #a3a3a3;
$c-gray-n-5: #737373;
$c-gray-n-6: #525252;
$c-gray-n-7: #404040;
$c-gray-n-8: #262626;
$c-gray-n-9: #171717;

$c-gray-b-1: #f3f4f6;
$c-gray-b-2: #e5e7eb;
$c-gray-b-3: #d1d5db;
$c-gray-b-4: #9ca3af;
$c-gray-b-5: #6b7280;
$c-gray-b-6: #4b5563;
$c-gray-b-7: #374151;
$c-gray-b-8: #1f2937;
$c-gray-b-9: #111827;

/* MIXINS */

@mixin app-container {
    margin: 0 auto;
    max-width: 1800px;
    padding: 12px;

    @media (min-width: $b-app-2) {
        padding: 24px;
    }
}

@mixin app-panel {
    background-color: $c-gray-n-8;
    border: 1px solid $c-gray-n-7;
    border-radius: 0.5rem;
    margin-bottom: 12px;
    padding: 12px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media (min-width: $b-app-1) {
        margin-bottom: 0;
    }
}

@mixin grid-full-width {
    grid-column: 1 / -1;
}

/* TRANSITIONS */

$t-ease: 0.25s ease-in-out;
