/* BASE VARIABLES */

// Breakpoints

$breakpoint-1: 600px;
$breakpoint-2: 1200px;

// Borders

$border-radius-button: 6px;
$border-radius-panel: 12px;

// Colors
$color-primary-1: #ff9ecf;
$color-primary-2: #ff45a2;
$color-primary-3: #ff1289;
$color-primary-4: #bd005e;
$color-primary-5: #680034;

$color-secondary-1: #c5ffd7;
$color-secondary-2: #6bff9a;
$color-secondary-3: #13ff5e;
$color-secondary-4: #00b238;
$color-secondary-5: #00541b;

$color-gray-1: #f4f4f5;
$color-gray-2: #e4e4e7;
$color-gray-3: #d4d4d8;
$color-gray-4: #a1a1aa;
$color-gray-5: #71717a;
$color-gray-6: #52525b;
$color-gray-7: #3f3f46;
$color-gray-8: #27272a;
$color-gray-9: #18181b;

$color-slate-1: #f3f4f6;
$color-slate-2: #e5e7eb;
$color-slate-3: #d1d5db;
$color-slate-4: #9ca3af;
$color-slate-5: #6b7280;
$color-slate-6: #4b5563;
$color-slate-7: #374151;
$color-slate-8: #1f2937;
$color-slate-9: #111827;

$color-off-black: #101010;

$color-error: #ff1e00;
$color-warning: #ffae00;

// Spacing

$space-xsmall: 4px;
$space-small: 8px;
$space-medium: 12px;
$space-large: 18px;
$space-xlarge: 24px;
$space-xxlarge: 36px;
$space-xxxlarge: 60px;

// Text

$text-line-height: 1.15em;

// Transitions

$transition-ease: 0.15s ease-in-out;
$transition-ease-slow: 0.3s ease-in-out;

/* ASSIGNED VARIABLES */

$album-border-radius: 5%;

$page-color-background: $color-off-black;

$panel-color-blended-background: linear-gradient(
        rgba($color-slate-9, 0.1),
        rgba($color-slate-9, 0.1)
    ),
    linear-gradient($color-gray-9, $color-gray-9);
$panel-padding-small: $space-medium;
$panel-padding-large: $space-large;
$panel-padding-xlarge: $space-xlarge;

$skeleton-border-radius: $border-radius-button;
$skeleton-color-block: $color-gray-7;
$skeleton-color-shimmer: $color-gray-6;

$textscroller-speed: 3s ease-in-out;

/* MIXINS */

@mixin app-container {
    margin: 0 auto;
    max-width: 1800px;
    padding: $space-medium;

    @media (min-width: $breakpoint-2) {
        padding: $space-large;
    }
}

@mixin grid-full-width {
    grid-column: 1 / -1;
}

@mixin icon-inline {
    display: inline;
    height: 1.25em;
    width: 1.25em;
}

@mixin icon-small {
    height: $space-large;
    width: $space-large;
}

@mixin icon-medium {
    height: $space-xlarge;
    width: $space-xlarge;
}

@mixin icon-large {
    height: $space-xxlarge;
    width: $space-xxlarge;
}

@mixin panel-subheading {
    color: $color-slate-4;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 0;
    text-transform: uppercase;
}

@mixin panel-title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    margin-top: $space-xsmall;
}

@mixin panel-title-large {
    @media (min-width: $breakpoint-1) {
        font-size: 2rem;
    }

    @media (min-width: $breakpoint-2) {
        font-size: 2.5rem;
    }
}

@mixin skeleton {
    background-color: $skeleton-color-block;
    color: transparent;
    cursor: auto;
    display: block;
    user-select: none;
    width: 10ch;

    &.loading {
        @include skeleton-shimmer;
    }

    &.error {
        background: repeating-linear-gradient(
            135deg,
            rgba($color-error, 0.05),
            rgba($color-error, 0.25) 2px,
            rgba($color-error, 0.25) 2px,
            rgba($color-error, 0.25) 4px
        );
        outline: 2px solid rgba($color-error, 0.1);
        outline-offset: -2px;
    }

    &.warning {
        background: repeating-linear-gradient(
            135deg,
            rgba($color-warning, 0.05),
            rgba($color-warning, 0.25) 2px,
            rgba($color-warning, 0.25) 2px,
            rgba($color-warning, 0.25) 4px
        );
        outline: 2px solid rgba($color-warning, 0.1);
        outline-offset: -2px;
    }
}

@mixin skeleton-shimmer {
    cursor: wait;
    overflow: hidden;
    position: relative;

    &::after {
        @keyframes shimmer {
            from {
                transform: translateX(0%);
            }
            to {
                transform: translateX(500%);
            }
        }

        animation: shimmer 1.5s infinite ease-in-out;
        background-image: linear-gradient(
                100deg,
                $skeleton-color-block,
                $skeleton-color-shimmer 80px,
                $skeleton-color-block 160px
            ),
            linear-gradient(
                90deg,
                $skeleton-color-block,
                $skeleton-color-shimmer 80px,
                $skeleton-color-block 160px
            );
        content: '';
        height: 100%;
        left: -160px;
        position: absolute;
        width: 160px;
    }
}
