@import '../../styles/variables.scss';

.main {
    @include app-container;

    @media (min-width: $b-app-1) {
        display: grid;
        gap: $s-medium;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: min-content;
    }

    @media (min-width: $b-app-2) {
        gap: $s-large;
    }
}
