@import '../../styles/variables.scss';

.page {
    margin: 0 auto;
    max-width: 1800px;
    min-height: calc(100vh - 24px);
    padding: 12px;

    @media (min-width: $b-app-1) {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
    }

    @media (min-width: $b-app-2) {
        gap: 24px;
        grid-template-columns: repeat(12, 1fr);
        padding: 24px;
    }
}
