@import '../../styles/variables.scss';

.main {
    @include app-container;

    display: grid;
    gap: $space-medium;
    grid-template-rows: min-content;

    @media (min-width: $breakpoint-1) {
        grid-template-columns: repeat(6, 1fr);

        &.dashboard {
            grid-template-areas:
                'user user user track-feature track-feature track-feature'
                'recently-played recently-played recently-played top-tracks top-tracks top-tracks'
                'top-artists top-artists top-artists x x x';
        }
    }

    @media (min-width: $breakpoint-2) {
        grid-template-columns: repeat(12, 1fr);
        gap: $space-large;

        &.dashboard {
            grid-template-areas:
                'user user user user user user user user track-feature track-feature track-feature track-feature'
                'recently-played recently-played recently-played recently-played top-tracks top-tracks top-tracks top-tracks top-artists top-artists top-artists top-artists';
        }
    }
}
