@import '../../styles/variables.scss';

.track {
    background-color: $skeleton-color-background;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: $border-radius-button;
    margin-bottom: 4px;

    &:last-of-type {
        margin-bottom: 0;
    }

    .content {
        display: flex;
        gap: $space-medium;
        padding: $space-medium;

        &:hover {
            .audio_features {
                background-color: rgba(255, 255, 255, 0.05);
            }
        }

        &.loaded {
            background: $color-overlay-gradient;
        }

        .cover {
            position: relative;
            flex-shrink: 0;
            height: 36px;
            z-index: 2;

            span {
                border-radius: $album-border-radius;
            }
        }

        .details {
            padding: $space-xsmall 0;

            .name {
                color: #ffffff;
                display: block;
                height: $text-line-height;
                margin-bottom: $space-xsmall;
                text-decoration: none;
                transition: $transition-ease;
                transition-property: color;

                &:hover {
                    color: $color-primary-3;
                }
            }

            .subdetails {
                color: $color-gray-4;
                display: flex;
                flex-wrap: nowrap;
                font-size: 0.75em;
                gap: $space-xsmall;

                .subdetail {
                    color: $color-gray-4;
                    height: $text-line-height;
                    text-decoration: none;
                    transition: $transition-ease;
                    transition-property: color;

                    &:hover {
                        color: $color-primary-3;
                    }
                }
            }
        }

        .audio_features {
            align-items: center;
            border-radius: $border-radius-button;
            display: flex;
            gap: $space-small;
            padding: $space-small;
            transition: $transition-ease;
            transition-property: background-color;

            .feature {
                color: $color-gray-4;
                height: 1rem;
                position: relative;
                transition: $transition-ease;
                transition-property: color;
                width: 1rem;

                &:hover {
                    color: $color-secondary-3;

                    .label {
                        opacity: 1;
                    }
                }

                .icon {
                    height: 100%;
                    width: 100%;
                }

                .label {
                    font-size: 0.75em;
                    left: 50%;
                    position: absolute;
                    opacity: 0;
                    top: -$space-large;
                    transform: translateX(-50%);
                    transition: $transition-ease;
                    transition-property: opacity;
                    white-space: nowrap;
                }
            }
        }
    }
}
